root{
    --blue-2: #b3dbff;
    --blue-4: #47afff;
    --blue-5: #0095f6;
    --blue-6: #0074cc;
    --blue-7: #0057a3;
    --blue-9: #002952;
    --gradient-lavender: #d300c5;
    --gradient-orange: #ff7a00;
    --gradient-pink: #ff0169;
    --gradient-purple: #7638fa;
    --gradient-yellow: #ffd600;
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.kiri {
    display: flex;
    float: left;
    margin-top: -12px;
    margin-left: 12px;
    position: fixed;
    border-right: 1px solid black;
    height: 100%;
    width: 235px;
}

.kiri .nav-kiri .logo img {
    width: 8.3rem;
    height: 8.3rem;
}

.kiri .icon-nav {
    margin-top: -35px;
    margin-left: 12px;
}

.kiri .icon-nav .icon {
    margin-top: 27px;
  
}
.kiri .icon-nav .icon img {
    width: 23px;
    height: 23px;
}
.kiri .icon-nav .icon span {
    padding: .7em;
    font-size: 1.1em;
}

.kiri .icon-nav .active span {
    font-size: 1.1em;
    font-weight: bolder;

}

.kiri .nav-more {
    margin-top: 70px;
}

.kiri .nav-more span {
    font-size: 1.1em;
}